@import "./function.scss";

// 多行显示省略号
@mixin no-wrap-line($line) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	autoprefixer: on
}

// 圆角
@mixin borderRadius($radius: 5px) {
	border-radius: $radius;
}

// transform
@mixin transform($transform) {
	transform: $transform;
}

// box-sizing
@mixin box-border-sizing() {
  box-sizing: border-box;
}

/**
* 边框方向-大小
* param $direction 方向（left,right,top,bottom）
*/
@mixin border-direction($direction, $num, $color) {
  border-#{direction($direction)}: $num solid $color;
}
