// 主题相关scss
$theme-colors: (
  system-color-white: #fff,
  system-color-black: #000
);

// 字体相关scss
$font-sizes: (
  system-size-mini: 10px,
  system-size-small: 12px,
  system-font-normal: 14px,
  system-font-midium: 16px,
  system-font-large: 18px,
  system-font-plus: 20px
);
